<div class="jumbotron text-center mt-5">
    <h1 class="display-4">¡Bienvenidos a Juegos de Mesa!</h1>
    <p class="lead">Disfruta de los mejores juegos para compartir con amigos y familia.</p>
    <hr class="my-4" />
  
    <!-- Imagen decorativa -->
    <img
        src="assets/juegos-de-mesa.jpg"
        alt="Juegos de Mesa"
        class="img-fluid my-4"
        style="max-width: 300px; border-radius: 10px;"
    />
  

  
    <p>Inicia sesión o regístrate para comenzar tu experiencia.</p>
    
    <!-- Botones con separación -->
    <div class="d-flex justify-content-center mt-3">
      <a class="btn btn-primary btn-lg mx-2" [routerLink]="'/auth/login'" role="button">Iniciar Sesión</a>
      <a class="btn btn-success btn-lg mx-2" [routerLink]="'/auth/register'" role="button">Registrarse</a>
    </div>
  </div>
  