.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #007bff; /* Azul */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa; /* Fondo claro */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  color: #007bff;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.text-danger {
  font-size: 12px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-primary {
  background-color: #28a745;
  border: none;
  width: 48%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #218838;
  cursor: pointer;
}

.btn-secondary {
  background-color: #007bff;
  border: none;
  width: 48%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.btn-secondary:hover {
  background-color: #0056b3;
  cursor: pointer;
  text-decoration: none;
}
